/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
app/assets/components/*
!app/assets/components/neon-*
app/assets/components/**/.bower.json
app/assets/components/**/bower.json
app/assets/components/**/README.md
app/assets/components/**/README.html
app/assets/components/**/CHANGES.html
app/assets/components/**/COPYING
app/assets/components/**/index.html
app/assets/components/**/demo
app/assets/components/**/test
app/assets/components/**/demos
app/assets/components/**/examples
app/assets/components/**/bin
app/assets/components/**/tutorial
app/assets/components/**/*.log
app/assets/components/**/*.js.map
app/assets/components/**/*.sh
app/assets/components/**/*.yml
app/assets/components/**/*.conf
